<%- include('partials/head')%>

<form class="add-content" action="add-screen" enctype="multipart/form-data" method="post">

  <label for="name">Name: </label>
  <input type="text" name="name" id="name"> <br>

  <!-- <label for="slides">Slides: </label> -->


  <input class="button" type="submit" value="SUBMIT" name="submit">

</form>

  <%- include('partials/backend-nav')%>
<%- include('partials/foot')%>
