<%- include('partials/head')%>

<h2>Menu</h2>
<ul class="home">
  <li>
    <a class="button" href="/dps/slides">Slides</a>
    <p>Hier kun je slides toevoegen of verwijderen aan het systeem. Ze worden niet meteen op de schermen gepubliceerd!</p>
  </li>
  <li>
    <a class="button" href="/dps/slideshows">Slideshows</a>
    <p>Hier kun je een nieuwe slideshow aanmaken. Deze wordt niet meteen op een schrem laten zien!</p>
  </li>
  <li>
    <a class="button" href="/dps/screens">Screens</a>
    <p>Hier kun je een slideshow aan een scherm koppelen.</p>
  </li>
  <li>
    <a class="button" href="/dps/logout">Logout</a>
  </li>
</ul>

<%- include('partials/foot')%>
