<%- include('partials/head')%>

<a href="add-slide"><button class="button" id="addlide">NEW SLIDE</button></a>

<ul class="main-ul">
  <li>
    <ul class="item-ul">
      <li><img src="/images/poster2.jpg" alt="title"></li>
      <li>ID: 2</li>
      <li>Title: title</li>
      <li>Duration: 5</li>
      <li>Date upload: 30-5-2016 13:56:45</li>
      <li><button id="edit">EDIT</button><button id="remove">REMOVE</button></li>
    </ul>
  </li>
  <li>
    <ul class="item-ul">
      <li><img src="/images/poster1.png" alt="title"></li>
      <li>ID: 3</li>
      <li>Title: title</li>
      <li>Duration: 5</li>
      <li>Date upload: 30-5-2016 13:56:45</li>
      <li><button id="edit">EDIT</button><button id="remove">REMOVE</button></li>
    </ul>
  </li>
  <li>
    <ul class="item-ul">
      <li><img src="/images/poster2.jpg" alt="title"></li>
      <li>ID: 4</li>
      <li>Title: title</li>
      <li>Duration: 5</li>
      <li>Date upload: 30-5-2016 13:56:45</li>
      <li><button id="edit">EDIT</button><button id="remove">REMOVE</button></li>
    </ul>
  </li>
</ul>

<%- include('partials/backend-nav')%>
<%- include('partials/foot')%>
