<%- include('partials/head')%>

<a href="add-slideshow"><button class="button" id="addSlideshow">NEW SLIDESHOW</button></a>


<ul class="main-ul">
  <li>
    <ul class="item-ul">
      <li>ID: 1</li>
      <li>Name: slideshow 1</li>
      <li>contains: 4 slides</li>
      <li>Date created: 30-5-2016 13:56:45</li>
      <li><button id="edit">EDIT</button><button id="remove">REMOVE</button></li>
    </ul>
  </li>
  <li>
    <ul class="item-ul">
      <li>ID: 2</li>
      <li>Name: slideshow 2</li>
      <li>contains: 42 slides</li>
      <li>Date created: 30-5-2016 13:56:45</li>
      <li><button id="edit">EDIT</button><button id="remove">REMOVE</button></li>

    </ul>
  </li>
  <li>
    <ul class="item-ul">
      <li>ID: 4</li>
      <li>Name: slideshow 4</li>
      <li>contains: 2 slides</li>
      <li>Date created: 30-5-2016 13:56:45</li>
      <li><button id="edit">EDIT</button><button id="remove">REMOVE</button></li>
    </ul>
  </li>
</ul>




  <%- include('partials/backend-nav')%>
<%- include('partials/foot')%>
