<nav id="menu">
  <a href="#menu"><button >▼ menu ▼</button></a>
  <ul>
    <li><a href="slides">Slides</a></li>
    <li><a href="slideshows">Slideshows</a></li>
    <li class="vis-hidden"><a href="screens">Screens</a></li>
    <li><a href="logout">Logout</a></li>
  </ul>
</nav>
